.idea/AINewsBotV2.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
bot/__pycache__/ScienceDaily.cpython-36.pyc
__pycache__
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
config.txt
bot/myconfig.json
TODO.md
